body {
    padding-top: 20px;
}

.well {
    background-color: #ffffff;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail img {
        width: 100%;
    }
